/* 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
--Very_dark_blue: #090b1a;
--Dark_desaturated_blue: #1b1938;
--Soft_violet: #aa5cdb;
--White: #ffffff;
--main-paragraph: hsla(0, 0%, 100%, 0.75);
--stat_headings :hsla(0, 0%, 100%, 0.6);
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--Very_dark_blue);
    line-height: 1.5rem;
}
.container{
    display: inline-block;
    margin: 5rem 1.5rem;
    text-align: center;
    background-color:var(--Dark_desaturated_blue);
    border-radius: 0.5rem;
  }
  .box{
    width: 100%;
    
  }
.img{
    min-height: 300px;
    background:url(./images/image-header-mobile.jpg) no-repeat;
    background-size: contain;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    
    min-height: 84.2%;
    background-color: #540387;
    opacity: 0.6;
}

h2, p{
margin-bottom: 1rem;
padding: 0 2rem;
}
h2{
    color: #ffffff;
    font-size:x-large;

}
h2 > span{
    color: var(--Soft_violet);
}
 p{
    color: var(--main-paragraph);
}

section > p{
    font-family: 'Lexend Deca', sans-serif;
    text-transform:uppercase;
    font-size: x-small;
    color: var(--main-paragraph);
    font-weight: bolde;
}
section > strong{
    font-size: larger;
    color: #ffffff;
}
section{
    margin-bottom: 2rem;
}

@media (min-width:455px) {
    .img{
        min-height: 300px;
        background:url(./images/image-header-mobile.jpg) no-repeat;
        background-size: cover;
        border-radius: 0.5rem 0.5rem 0 0;
        position: relative;
        overflow: hidden;
    }
}